<div class="hero-section-img text-center text-white">
  <img src="https://res.cloudinary.com/drikoem6d/image/upload/HERO_s4ovhj.png" alt="Hero" class="hero-img">
  <div class="hero-content">
    <h1 class="display-4">Bienvenido {{ user_name }}</h1>
    <p>Supera tus límites. Activa el modo Berserk.</p>
    <button class="btn btn-primary" (click)="scrollToSection()">Saber más</button>
  </div>
</div>

<!-- Sección destino del scroll -->
<div id="contenidoPrincipal" class="container">
  <!-- TUTORIALES PROXIMAMENTE  -->
</div>
