<div class="hero-section-img text-center text-white">
  <picture>
    <source media="(max-width: 768px)" srcset="https://res.cloudinary.com/drikoem6d/image/upload/Hero_movil_atfv05.png">
    <img src="https://res.cloudinary.com/drikoem6d/image/upload/HERO_s4ovhj.png" alt="Hero" class="hero-img">
  </picture>
  <div class="hero-content">
    <h1 class="display-4">Bienvenido {{ user_name }}</h1>
    <p>Supera tus límites. Activa el modo Berserk.</p>
    <button class="btn btn-primary" (click)="scrollToSection()">Saber más</button>
  </div>
</div>

<!-- Sección destino del scroll -->
<section id="contenidoPrincipal" class="cuatro-bloques">
  <div class="bloque bloque-1">
    <h1>Registro de Pesos</h1>
    <p>Haz seguimiento diario de tu evolución física y controla tu progreso con precisión.</p>
    <div>
      <button class="btn btn-secondary m-1" (click)="irPesos()">Ir ahora</button>
      <button class="btn btn-secondary m-1" (click)="mostrarTutorial('pesos')">Tutorial</button>
    </div>
  </div>

  <div class="bloque bloque-2">
    <h1>Registro de Calorías</h1>
    <p>Anota tus comidas y conoce el impacto nutricional para alcanzar tus objetivos.</p>
    <div>
      <button class="btn btn-primary m-1" (click)="irCalorias()">Ir ahora</button>
      <button class="btn btn-primary m-1" (click)="mostrarTutorial('calorias')">Tutorial</button>
    </div>
  </div>

  <div class="bloque bloque-3">
    <h1>Registro de Ejercicios</h1>
    <p>Planifica tus rutinas, registra tus entrenamientos y mejora cada semana.</p>
    <div>
      <button class="btn btn-primary m-1" (click)="irEjercicios()">Ir ahora</button>
      <button class="btn btn-primary m-1" (click)="mostrarTutorial('ejercicios')">Tutorial</button>
    </div>
  </div>

  <div class="bloque bloque-4">
    <h1>Sobre Nosotros</h1>
    <p>Conoce quiénes somos y cómo podemos ayudarte a transformar tu estilo de vida.</p>
    <div>
      <button class="btn btn-secondary m-1" (click)="irAbout()">Ir ahora</button>
      <!-- <button class="btn btn-secondary m-1">Tutorial</button> -->
    </div>
  </div>
</section>