<div class="container">
  <div class="especial"></div>
    <div *ngIf="user; else loadingOrError">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4>Perfil de Usuario</h4>
        </div>
        <div class="card-body">
          <p><strong>Nombre:</strong> {{ user.name }}</p>
          <p><strong>Edad:</strong> {{ user.age }} años</p>
          <p><strong>Peso:</strong> {{ user.weight }} kg</p>
          <p><strong>Altura:</strong> {{ user.height }} cm</p>
          <p><strong>Género:</strong> {{ user.gender === 'male' ? 'Hombre' : 'Mujer' }}</p>
          <p><strong>Nivel de actividad:</strong> {{ user.activity_level }}</p>
          <p><strong>Objetivo:</strong> {{ user.goal === 'deficit' ? 'Déficit calórico' : 'Superávit calórico' }}</p>
          <p><strong>Calorías diarias:</strong> {{ user.daily_calories }} kcal</p>
        </div>
      </div>
    </div>
  
    <ng-template #loadingOrError>
      <div class="alert alert-info" *ngIf="!errorMessage">Cargando datos del usuario...</div>
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    </ng-template>
  <div class="especial"></div>
</div>
  