.card {
  max-width: 600px;
  margin: auto;
}

.especial {
  height: 20px;
}

* {
  color: white;
}

h1 label {
  color: #a877c8;
}

strong {
  color: #a2da5b;
}

.btn {
  width: 160px;
}

.boton {
  background-color: #a877c8;
}

.boton:hover {
  background-color: #a2da5b;
}

.boton * {
  color: #a2da5b;
}

.boton:hover * {
  color: #a877c8;
}

label:hover {
  cursor: pointer;
}

hr {
  height: 2px;
  background-color: #a877c8;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tablets (pantallas medianas) */
  .contenedor {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* Desktops (pantallas grandes) */
  .contenedor {
    width: 50%;
  }
}
