.card {
  max-width: 600px;
  margin: auto;
}

.especial {
  height: 20px;
}

* {
  color: white;
}

h1 {
  color: #a877c8;
}

strong {
  color: #a2da5b;
}

.btn {
  width: 160px;
}


.boton {
  background-color: #a877c8;
}

.boton:hover {
  background-color: #a2da5b;
}

.boton * {
  color: #a2da5b;
}

.boton:hover * {
  color: #a877c8;
}