<header class="bg-dark sticky-lg-top w-100">
  <div class="d-flex w-100 justify-content-center align-content-center">
    <img src="https://res.cloudinary.com/drikoem6d/image/upload/tititle2_wfmyek.png" alt="Logo" class="mt-2" style="max-width: 300px;">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <!-- Toggle para móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú colapsable -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/inicio">Inicio</a>
        </li>
        <li *ngIf="registrado" class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/peso">Mis Pesos</a>
        </li>
        <li *ngIf="registrado" class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/calorias">Mis Calorias</a>
        </li>
        <li *ngIf="registrado" class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/ejercicios">Mis Ejercicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/acerca">Acerca De</a>
        </li> 
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin">Admin</a>
        </li>         
        </ul>
      </div>
    </div>
  </nav>
</header>


<main>
  <router-outlet></router-outlet>
</main>

<footer class="bg-dark text-white p-3">
  <div class="container text-start">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Sobre Mi</h5>
        <p>Buenas, soy Alejandro Sanchez Serrano, un chaval que esta por terminar el grado superior de DAW y este es mi TFG, si le estas dando uso significa que me a salido bien y es util, disfruta :D</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/peso">Mis Pesos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/calorias">Mis Calorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/ejercicios">Mis Ejercicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" [routerLinkActive]="['active']" routerLink="/acerca">Acerca De</a>
      </li>          
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <i class="w-25 bi bi-envelope-at"> Correo:</i><p>{{correo}}</p>
        <i class="bi bi-whatsapp"> Whatsapp:</i><p>+34 693 00 16 13</p>
        <i class="bi bi-github">&nbsp;<a class="text-decoration-none text-white" href="https://github.com/AlejandroSanchezSerrano">GitHub</a></i>
      </div>
    </div>
    <div class="mt-3 text-center">
      <p class="mb-0">&copy; 2025 EVA GYM. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
