.titulazo {
  font-size: 60px;
  margin: 0;
  color: white;
}

header {
  background-color: black;
}

main {
  min-height: 54vh;
}

.nav-link a {
  color: #a2da5b;
}

a:hover {
  color: #a877c8;
  font-weight: bolder;
}

a:active {
  color: #632d6b;
}

.nav-link.active {
  font-weight: bold;
  color: #a877c8;
}

a:visited {
  color: #a2da5b;
}

.dropdown-item:hover {
  background-color: black;
}

.dropdown-item.active {
    background-color: black;

}