<div class="container my-5">
    <h1 class="text-center mb-4 text-white">Últimas actualizaciones</h1>
    <ul class="list-group" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
      <li *ngFor="let commit of commits" class="list-group-item bg-transparent text-white border-0">
        <div class="fw-bold">
          {{ commit.commit.message.split('\n')[0] }}
        </div>
        <div class="text-muted">
          {{ commit.commit.message.split('\n')[1] }}
        </div>
        <div class="text-end mt-2">
          <span class="badge bg-primary rounded-pill">
            {{ commit.commit.author.date | date:'shortDate' }}
          </span>
        </div>
      </li>
    </ul>
  </div>
  