* {
    color: white;
}

.btn {
    background-color: #a877c8;
    font-weight: bold;
}

.btn:hover {
    background-color: #a2da5b;
}

.btn a {
    color: #a2da5b;
}

.btn:hover a {
    color: #a877c8;
}
