* {
  color: white;
}

.btn {
  background-color: #a877c8;
  font-weight: bold;
}

.btn:hover {
  background-color: #a2da5b;
}

.btn a {
  color: #a2da5b;
}

.btn:hover a {
  color: #a877c8;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block; 
  transition: transform 0.3s ease, color 0.1s ease;
}

a:hover {
  color: #a2da5b;
  transform: scale(1.04);
}

button {
  z-index: 9999 !important;
}

.contenido-principal {
  transition: width 0.5s ease;
}

/* Cuando el sidebar está visible (col-md-8 = 66.66% en pantallas grandes) */
@media (min-width: 768px) {
  .contenido-principal.con-sidebar {
    width: 66.66666667%;
  }

  .contenido-principal.sin-sidebar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ocultar {
    display: none;
  }
}
