<div class="container text-center">
    <div class="especial"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <!-- <h1 class="text-white">Berserk Mode Activado</h1> -->
                <h1 class="fw-bold">Error 404 - No Encontrado</h1>
                
                <div class="error-image mt-3">
                    <img src="https://res.cloudinary.com/drikoem6d/image/upload/evali_czul9x.png" alt="Berserk" class="img-fluid rounded shadow" style="max-width: 500px;">
                </div>

                <div class="error-details mt-3">
                    <p class="fs-5 text-white text-opacity-75">
                        "Error 404: EVA-01 no sincroniza... Parece que estamos en modo Berserk y no encontramos lo que buscas."  
                    </p>
                </div>

                <div class="error-actions mt-4">
                    <a href="#/" class="btn btn-outline-light btn-lg">
                        <span class="bi bi-house-door"></span> 
                        Volver a la NERV
                    </a>
                    <br>
                    <br>
                    <a href="/contact" class="btn btn-outline-light btn-lg disabled">
                        <span class="bi bi-envelope"></span> 
                        Contactar con el NERV
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="especial"></div>
</div>