.date-input {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #666;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.date-input:focus {
  outline: none;
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
}
