/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'font';
    src: url(../public/font.otf);
}

body h1 {
    font-family: font;
}

main {
    background: 
      linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
      url('https://images8.alphacoders.com/616/616750.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  